/* Icon 1 */
html {
  scroll-behavior: smooth;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.limit {
  max-width: 1200px;
}

.absolute__letter {
  position: absolute;
  top: 0;
  left: 0;
}

.h {
  min-height: 100vh;
}

.header {
  position: relative;
  z-index: 10;
  background: #000000;
  min-height: 80px;
}
.header .navigation {
  margin: 0 40px;
  width: 100%;
}
.header .logo_title {
  padding: 0 20px;
  height: 13.86px;
}
.header .logo {
  height: 50px;
}
.header .whatsapp {
  margin-right: 10px;
}
.header .w_contact {
  flex-direction: column;
  font-weight: 900;
  color: #FFFFFF;
}
.header .w_contact p {
  font-size: 28px;
  line-height: 24px;
}
.header .w_contact span {
  text-align: end;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}
.header .nav-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner {
  max-width: 1200px;
  padding: 0 40px;
  margin: 120px auto;
  position: relative;
  z-index: 10;
}
.banner h1 {
  font-weight: 900;
  max-width: 488px;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.banner p {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  max-width: 488px;
  color: #000000;
}
.banner p span {
  background: #F9D222;
}
.banner .link_to_ {
  border: 3px solid #F9D222;
  display: block;
  font-weight: 700;
  font-size: 24px;
  margin-top: 40px;
  width: 325px;
  padding: 12px 0;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.banner .link_to_w {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
.banner .card {
  border: 3px solid #F2F2F2;
  position: relative;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.banner .card:first-child {
  margin-right: 20px;
}
.banner .card img {
  width: 230px;
  height: 188px;
  margin: 7px;
  display: block;
}
.banner .card .category {
  background: #F2F2F2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 32px;
  text-align: center;
  padding: 7px 12px;
  color: #000000;
}
.banner .card .discount {
  background: #F9D222;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 7px 12px;
  width: max-content;
  color: #000000;
}

.quick__intro {
  margin: 0 auto;
  padding: 50px 40px;
}
.quick__intro .intro__block {
  position: relative;
  max-width: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quick__intro .intro__block img {
  position: relative;
  z-index: 2;
}
.quick__intro .intro__block .bg_yellow {
  position: absolute;
  top: 0;
  right: 65px;
  background: #F2C94C;
  width: 50px;
  height: 47px;
}
.quick__intro .intro__block p {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.quick__intro .intro__block p span {
  display: block;
  font-weight: 400;
}

.section__title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.work {
  padding: 0 40px;
}
.work .block_parent {
  margin-top: 65px;
  margin-bottom: 120px;
}
.work .block {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.work .block p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-top: 25px;
  max-width: 250px;
  text-align: center;
  color: #000000;
}
.work .block p span {
  text-decoration: underline;
}

.consultation {
  background: #F9D222;
  padding: 50px 0;
}
.consultation .mx-auto {
  padding: 0 40px !important;
}
.consultation .text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 355px;
  color: #000000;
}
.consultation .form_input {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.consultation .form_input label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}
.consultation .form_input input {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 10px;
  color: rgba(0, 0, 0, 0.27);
}
.consultation button {
  background: white;
  outline: none;
  padding: 13px 0;
  width: 150px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.calculator {
  background: #F2F2F2;
  padding: 50px 0 0 0;
}
.calculator .selection__btn {
  margin: 30px auto;
  width: max-content;
}
.calculator .selection__btn button {
  width: 156px;
  text-align: center;
  padding: 12px 0;
  background: white;
  outline: none;
  cursor: pointer;
  border: none;
}
.calculator .selection__btn button:first-child {
  margin-right: 25px;
}
.calculator .selection__btn .active {
  border: 3px solid #F2C94C;
}
.calculator .return__sum {
  max-width: max-content;
  margin: 30px auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.calculator .return__sum span {
  display: inline-block;
  padding-top: 10px;
  font-weight: 700;
  font-size: 24px;
}
.calculator .calculator__container {
  max-width: 610px;
  width: 100%;
  margin: 30px auto;
}
.calculator .calculator__container .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}
.calculator .calculator__container .title p {
  margin: 0 15px;
  display: inline;
  font-weight: 400;
  background: white;
}
.calculator .calculator__container .title span {
  font-weight: 400;
}

.request__form {
  max-width: 440px;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.request__form .form_block:first-child {
  margin-right: 30px;
}
.request__form label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.request__form button {
  background: #F2C94C;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border: none;
  outline: none;
  text-align: center;
  width: 276px;
  padding: 15px 0;
  margin: 30px 0;
  color: #000000;
}
.request__form input {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 13px 15px;
  border: none;
  outline: none;
  width: 201px;
  color: #E0E0E0;
}

.footer {
  position: relative;
}
.footer .absolute__block {
  position: absolute;
  bottom: 40px;
  right: 150px;
  background: #FFFFFF;
  padding: 16px 43px;
}
.footer .absolute__block h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #000000;
}
.footer .absolute__block ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .absolute__block ul li {
  display: flex;
  margin-bottom: 15px;
  align-items: start;
}
.footer .absolute__block ul li img {
  width: 22px;
  margin-top: 8px;
  margin-right: 15px;
}
.footer .absolute__block ul li p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 21px;
  color: #000000;
}
.footer .absolute__block ul li span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.mobile_menu {
  display: none;
}

.range {
  margin-top: 15px;
  display: flex;
  width: 600px;
}

.range__slider {
  width: 45%;
}

.form-group {
  width: 100%;
}

.range__slider [type=range] {
  width: 100%;
  -webkit-appearance: none;
  height: 13px;
  border-radius: 6px;
  background: #ffffff;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #828282;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type=range]::-webkit-slider-thumb:hover {
  background: #f0932b;
}

.range__slider [type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type=range]::-moz-range-thumb:hover {
  background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

/*# sourceMappingURL=style.css.map */
